
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 0 15px;
}


.card {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}


.row {
    margin: 0 -15px;
}

.col-md-6 {
    padding: 0 15px;
}


.form-group {
    margin-bottom: 1.5rem;
}


.btn {
    border-radius: 50px;
}