@model SORAPC_API.Models.ProductCategory
@{
    ViewData["Title"] = "Добавить категорию продукта";
}

<div class="container mt-5 pt-5">
    <h2 class="text-center mb-4">Добавить категорию продукта</h2>
    <div class="card shadow p-4">
        <form asp-action="CreateProductCategory" asp-controller="Admin" method="post">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Название категории</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a asp-action="ProductCategory" asp-controller="Admin" class="btn btn-secondary">Назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}